<div class="region-edit">
  <div class="container">
    <div class="row">
      <div class="edit-block">
        <div class="left-side">
          <%=  render "region_form", {region: @region} %>
        </div>
        <div class="right-side">
          
        </div>
      </div>
    </div>
  </div>
</div>

