<div class="container">
  <div class="show-header">
    <h1>Esta en la zona <%= @region.name %></h1>
  </div>
  <div class="show-body">
    <table class="table">
      <thead>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Estado</th>

      </thead>
      <tbody>
        <% @states.each do |state| %>
            <tr>
              <td>
                <%= state.code_number %>
              </td>
              <td>
                <%= state.name %>
              </td>
              <td>
                <%= state.current_state %>
              </td>
            </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>